@page
@model RazorPagesTestAppMT.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-info" role="alert">
    Please check your email to reset your password.
</div>
